body {
    background-color:darkorchid;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color:wheat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p{
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font:bold;
}

a{
    color:aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font:bold;
}
a:hover{
    color:lightgoldenrodyellow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font:italic;
}
.jumbotron{
    background-color:purple;
}
input[type = submit], input[type = reset]{
    background-color:antiquewhite;
    border:solid;
    color:black;
    cursor:progress;
}